<div class="container-fluid text-center">
  <h1 style="margin-top: 5%;">ユーザ管理画面</h1>
  <div class="row justify-content-md-center" style="margin-top: 5%;">
    <div class="col-md-auto">
      @if (isDeleteSuccess) {
      <div class="alert alert-primary" role="alert">Name:{{name?.value}}、ID:{{id}}を削除しました。</div>
      }
    </div>
  </div>
  <!-- <div class="row row-cols-3" style="margin-top: 5%;"> -->
  <!-- <div class="row justify-content-md-center" style="margin-top: 5%;"> -->
  <form class="row justify-content-md-center" style="margin-top: 5%;" [formGroup]="controlForm" (ngSubmit)="onSubmit()">
    <div class="col-md-auto">
      <input id="fName" type="text" class="form-control" placeholder="Nameを入力" formControlName="name" required>
      <div class="name-danger"
        *ngIf="controlForm.controls['name'].invalid && (controlForm.controls['name'].touched || controlForm.controls['name'])">
        <span *ngIf="controlForm.controls['name'].errors?.['required']">これは必須項目です</span>
      </div>
    </div>
    <div class="col-md-auto">
      <select id="fSelectBtn" class="form-select" formControlName="selectBtn" required>
        <option value="0" disabled selected style="display:none;">選択してください</option>
        <option value="1">登録</option>
        <option value="2">削除</option>
        <option value="3">検索</option>
      </select>
    </div>
    <div class="col-md-auto">
      <button type="submit" class="btn btn-primary">実行</button>
    </div>
    <p>nameValue: {{ name?.value }}</p>
    <div class="row justify-content-md-center">
      <div class="col-md-auto">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{id}}</td>
              <td>{{name?.value}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <router-outlet />