<div class="container-fluid text-center">
  <h1>ユーザ管理画面</h1>
  <div class="row justify-content-md-center" style="margin-top: 5%;">
    <div class="col-md-auto">
      @if (isDeleteSuccess) {
      <div class="alert alert-primary" role="alert">Name:{{name}}、ID:{{id}}を削除しました。</div>
      }
    </div>
  </div>
  <!-- <div class="row row-cols-3" style="margin-top: 5%;"> -->
  <!-- <div class="row justify-content-md-center" style="margin-top: 5%;"> -->
  <form class="row justify-content-md-center" style="margin-top: 5%;" [formGroup]="controlForm" (ngSubmit)="onSubmit()">
    <div class="col-md-auto">
      <input id="fName" type="text" class="form-control" placeholder="Nameを入力" formControlName="name" required [(ngModel)]="name">
    </div>
    <div class="col-md-auto">
      <select id="fSelectBtn" class="form-select" formControlName="selectBtn" required>
        <option value="0" disabled selected style="display:none;">選択してください</option>
        <option value="1">登録</option>
        <option value="2">削除</option>
        <option value="3">検索</option>
      </select>
    </div>
    <div class="col-md-auto">
      <button type="submit" class="btn btn-primary">実行</button>
    </div>
  </form>
  <p>nameValue: {{ controlForm.value }}</p>
  <p>Form Status: {{ controlForm.status }}</p>
  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
    <div *ngIf="name.hasError('minLength')">
      Name must be at least 4 characters long.
    </div>
    <div *ngIf="name.hasError('required')">
      Name is required.
    </div>
  </div>
</div>
<router-outlet />